# Generic Python gitignore
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
/.claude
/target
*.shell-extension.zip
**/gschemas.compiled
/home/oran/.local/share/clipboard-history/
